.dashboard-tiles-container {
    display: flex;
    flex-direction: column;

    .dashboard-tile {
        border: 1px solid #ccc;
        display: flex;
        margin: 12px;
        overflow-x: hidden;
    }
}