.tile-placeholder {
    margin: auto;
}

.error-state {
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.spinner {
    display: flex;
    justify-content: center;
}