@use '@angular/material' as mat;

// Be sure that you only ever include this mixin once!
@include mat.core();

@font-face {
  font-family: 'CeraPro';
  font-display: swap;
  src: local('CeraPro'), url(./assets/CeraPro-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

// Define your theme with color palettes, typography and density
$red: (
  50: #fce4e4,
  100: #f9bcbc,
  200: #f58f8f,
  300: #f06262,
  400: #ed4141,
  500: #ea1f1f,
  600: #e71b1b,
  700: #e41717,
  800: #e11212,
  900: #db0a0a,
  A100: #ffffff,
  A200: #ffd2d2,
  A400: #ff9f9f,
  A700: #ff8585,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$orange: (
  50: #fff0e0,
  100: #ffdab3,
  200: #ffc180,
  300: #ffa84d,
  400: #ff9526,
  500: #ff8200,
  600: #ff7a00,
  700: #ff6f00,
  800: #ff6500,
  900: #ff5200,
  A100: #ffffff,
  A200: #fff6f2,
  A400: #ffd0bf,
  A700: #ffbda6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$grey: (
  50: #e7e7e7,
  100: #c3c3c3,
  200: #9c9c9c,
  300: #747474,
  400: #565656,
  500: #383838,
  600: #323232,
  700: #2b2b2b,
  800: #242424,
  900: #171717,
  A100: #ef7171,
  A200: #ea4343,
  A400: #fa0000,
  A700: #e00000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$grey-palette: mat.define-palette($grey);
$red-palette: mat.define-palette($red);
$orange-palette: mat.define-palette($orange);

$mat-typography: mat.define-typography-config(
  $font-family: 'CeraPro',
);

$mat-density: 0;

$mat-core-theme: mat.define-light-theme(
  (
    color: (
      primary: $grey-palette,
      accent: $red-palette,
      warn: $orange-palette,
    ),
    typography: $mat-typography,
  )
);

@include mat.all-component-themes($mat-core-theme);

body {
  margin: 0;
  background-color: #d8d8d8;
  font-family: 'CeraPro', sans-serif;
}