.heading {
    font-size: 22px;
    margin: 6px 26px 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ededed;
    text-align: center;
}

.inventory-card {
    width: max-content;
    margin: 12px auto;
}

.inventory-list {
    background-color: white;
    padding: 12px;
}